<div class="container">
  <h1>All Blocmarks</h1>
  <%= link_to "New Topic", new_topic_path, class: "btn btn-primary" %>
  <br>
  <% @topics.each do |topic| %>
    <div class="media">
      <div class="media-body">
        <h4 class="media-heading">
          <%= link_to topic.title, topic %>
          <% if current_user.admin? %>
            <h6><%= button_to "Delete", topic, method: :delete, data: {confirm: 'Are you sure you want to delete this topic?' } %></h6>
          <% end %>
          <div class="row">
            <h6 class="media-heading">
              <% topic.bookmarks.each do |bookmark| %>
                <div class="col-md-4" align="center">
                  <div class="thumbnail" >
                    <% thumb = bookmark.thumbnail_url.present? ? "<img src='#{bookmark.thumbnail_url}'/>".html_safe : image_tag("default_thumbnail.png") %>
                    <div class="image-clip">
                      <%= link_to thumb, [bookmark.topic, bookmark] %>
                    </div>
                    <div class="caption">
                      <div style="min-height: 6rem;">
                        <h3><%= link_to bookmark.url, [bookmark.topic, bookmark] %></h3>
                      </div>
                      <%= render partial: 'likes/like', locals: { bookmark: bookmark } %>
                    </div>
                  </div>
                </div>
              <% end %>
            </h6>
          </div>
        </h4>
      </div>
    </div>
  <% end %>
  <br><br><br>
</div>
