<div class="container">
  <h1>
    <%= @topic.title %>
  </h1>
  <%= link_to "New Bookmark", new_topic_bookmark_path(@topic), class: "btn btn-success" %>
  <% if @topic.user == current_user %>
    <%= link_to "Edit Topic", edit_topic_path, class: "btn btn-primary" %>
  <% end %>
  <div class="row">
    <h6 class="media-heading">
      <br>
      <% @topic.bookmarks.each do |bookmark| %>
        <div class="col-md-3">
          <%= link_to bookmark.url, [bookmark.topic, bookmark] %>
          <%= render partial: 'likes/like', locals: { topic: @topic, bookmark: bookmark } %>
        </div>
      <% end %>
    </h6>
  </div>
</div>
