<div class="container">
  <h1>
    <%= @topic.title %>
  </h1>
  <%= link_to "New Bookmark", new_topic_bookmark_path(@topic), class: "btn btn-success" %>
  <%= link_to "Edit Topic", edit_topic_path, class: "btn btn-primary" %>
  <div class="row">
    <h6 class="media-heading">
      <br>
      <% @topic.bookmarks.each do |bookmark| %>
        <div class="col-xs-6 col-md-3">
          <div class="thumbnail">
            <%= link_to image_tag("#{bookmark.thumbnail_url}"), [bookmark.topic, bookmark] %>
            <div class="caption">
              <h3><%= link_to bookmark.url, [bookmark.topic, bookmark] %></h3>
              <%= render partial: 'likes/like', locals: { bookmark: bookmark } %>
            </div>
          </div>

        </div>
      <% end %>
    </h6>
  </div>
</div>
